<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 2</title>
    <link rel="stylesheet" href="/static/style.css"> <!-- Enlace al archivo CSS -->
</head>
<body>
    <form method="POST">
        <h1>Inicio de sesión</h1>

        <label for="nombre">Ingresa tu nombre</label>
        <input type="text" id="nombre" name="nombre" placeholder="Tu nombre" required>

        <label for="contrasena">Ingresa tu contraseña</label>
        <input type="password" id="contrasena" name="contrasena" placeholder="Tu contraseña" required>

        <button type="submit">Verificar</button>
    </form>
</body>
</html>