<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <link rel="stylesheet" href="/static/style.css"> <!-- Enlace al archivo CSS -->
</head>
<body>
    <form class="result">
        <h1>Resultado</h1>
        <p><strong>Nombre del cliente:</strong> {{ nombre }}</p>
        <p><strong>Total sin descuento:</strong> ${{ total_sin_descuento }}</p>
        <p><strong>El descuento es :</strong> ${{ descuento }}</p>
        <p><strong>El total a pagar es de :</strong> ${{ total_con_descuento }}</p>
    </form>
</body>
</html>